@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Oswald&family=Pacifico&family=Roboto&display=swap');
/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

/* Header */
.NavBar {
    height: 56px;
    width: 100%;
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
}

.NavBar__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.NavBar__logo button {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: #ffffff;
    cursor: pointer;
}

.NavBar__logo button .fa-bars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 20px;
}

.NavBar__logo a {
    text-decoration: none;
    width: 56px;
    height: 56px;
    margin-left: 8px;
}

.NavBar__logo a img {
    height: 100%;
    width: 100%;
}

/* NavBar center */

/* Element Search */
.Search {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 600px;
    border-radius: 40px;
    border: 1px solid rgba(110, 144, 160, 0.4);
    padding: 0 16px;
}

.Search .btnSearch {
    border: 0;
    background-color: #ffffff;
    height: 24px;
    width: 24px;
}

.Search input {
    height: 24px;
    width: 100%;
    border: 0;
    outline: none;
    margin-right: 12px;
    font-size: 16px;
}

.Search .btnSearch .fa-search {
    font-size: 18px;
    padding: 3px;
    color: #c4cacd;
}

/* Navbar right */
.NavBar__right__infoUser {
    display: flex;
    background-color: rgba(219, 231, 245, 1);
    height: 48px;
    width: 200px;
    padding: 8px;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
}

.boxInfo_right {
    font-size: 14px;
    margin-left: 8px;
}

#avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* SlideBar */

.SlideBar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}
/* Navigation Rail */
.SlideBar__navigationRail {
    width: 224px;
    padding: 0 12px;
}

.SlideBar__list li {
    list-style-type: none;
    margin: 12px 0;
    height: 40px;
    width: 200px;
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SlideBar__list li a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SlideBar__list li:hover {
    background-color: rgba(213, 230, 251, 1);
    border-radius: 8px;
}

.SlideBar__list li a .fas,
.SlideBar__list li a .far {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-right: 20px;
    color: #030303;
}

.SlideBar__tile {
    font-size: 16px;
    width: 132px;
    line-height: 20px;
    font-family: 'Roboto', Arial, sans-serif;
    color: #0f0f0f;
}

/* SlideBar content */

.SlideBar__content {
    width: 100%;
    overflow: hidden;
}

.SlideBar__content .content {
    height: 1000px;
}

.content {
    padding: 16px;
    background-color: #d5e6fb;
}

.date {
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
}

.main-page {
    width: 100%;
    height: 100%;
}

.statistical-count {
    width: 100%;
    display: flex;
}

.statistical-item {
    width: 240px;
    background-color: #fff;
    border-radius: 8px;
    margin: 8px;
}

.statistical-item__header {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.statistical-item__header .far,
.statistical-item__header .fas {
    font-size: 24px;
    margin: 0 8px 0 8px;
}

.statistical-item-title {
    text-align: center;
    flex: 1;
    color: red;
    font-size: 18px;
}

.statistical-item-count {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 28px;
}

.BestSeller {
    padding: 16px;
    width: 98.5%;
    background-color: #fff;
    margin: 8px;
    border-radius: 8px;
    position: relative;
}

.BestSeller__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.BestSeller__header__left {
}

.BestSeller__header__right {
}

.fa-sort-down {
    margin-left: 8px;
}

.BestSeller__Menu__header {
    background-color: #d5e6fb;
    width: 100%;
    height: 32px;
    z-index: -1;
    border-radius: 4px;
}

.BestSeller__Menu__content {
    width: 82%;
    position: absolute;
    top: 40px;
    left: 160px;
    display: flex;
    justify-content: space-between;
}

.BestSeller__Menu__item {
    width: 200px;
    text-align: center;
    background-color: transparent;
}

.Food__title {
    margin: 8px;
}

.Food__img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;
}

.Food__Sell__count {
    font-size: 18px;
}

.Food__Sell {
    padding-top: 138px;
}

.footer {
    width: 98.5%;
    height: 150px;
    margin: 8px;
    display: flex;
    justify-content: space-between;
}

.calendar {
    width: 45%;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
}

.calendar-header {
    display: flex;
    align-item: center;
    justify-content: space-between;
    padding: 4px;
}

.calendar-header-title {
    padding: 8px;
}

.calendar-header-viewAll {
    display: flex;
    align-items: center;
}

.calendar-header-viewAll .fa-chevron-down {
    margin-left: 8px;
    margin-right: 8px;
}

.calendar-sub-header {
    width: 99%;
    margin: 0 2px;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: #d5e6fb;
}

.calendar-sub-header-item {
    width: 33.33333%;
    text-align: center;
}

.calendar-items {
    overflow-y: scroll;
    max-height: 64px;
}

.calendar-items::-webkit-scrollbar {
    width: 0px;
}

.calendar-item-wrapper {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
}

.calendar-item {
    width: 33.33333%;
    text-align: center;
}

.food-status {
    width: 54%;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
}

.food-status-header {
    display: flex;
    align-item: center;
    justify-content: space-between;
    padding: 4px;
}

.food-status-header-title {
    padding: 8px;
}

.food-status-header-viewAll {
    display: flex;
    align-items: center;
}

.food-status-header-viewAll .fa-chevron-down {
    margin-left: 8px;
    margin-right: 8px;
}

.food-status-sub-header {
    width: 99%;
    margin: 0 2px;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: #d5e6fb;
}

.food-status-sub-header-item {
    width: 33.33333%;
    text-align: center;
}

.food-status-items {
    overflow-y: scroll;
    max-height: 64px;
}

.food-status-items::-webkit-scrollbar {
    width: 0px;
}

.food-status-item-wrapper {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
}

.food-status-item {
    width: 33.33333%;
    text-align: center;
}

.food-status-item .done-wrapper {
    padding: 2px 0;
    border-radius: 99px;
    background-color: #28ebb0;
}

.food-status-item .pending-wrapper {
    padding: 2px 0;
    border-radius: 99px;
    background-color: #fdd888;
}

.food-status-item .doNot-wrapper {
    padding: 2px 0;
    border-radius: 99px;
    background-color: #db350f;
}
